@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  --color-primary:#244D3F;
  --color-secondary:#64748B;
  --color-body:#F8FAFC;
}

@layer components{
  .wrapper{
    @apply max-w-7xl mx-auto px-4 md:px-6 lg:px-8 py-3
  }
}

